@model Sabr.ViewModels.DashboardViewModels.FindReplacementViewModel
@{
    ViewBag.Title = "FindReplacement";
    Layout = "~/Views/Shared/_LayoutPlayerBio.cshtml";
}

<h2>FindReplacement</h2>

<li>@Model.Name</li>
<li>@Model.Score</li>
<li>@Model.Position</li>
