@model Sabr.ViewModels.DashboardViewModels.FindReplacementViewModel
@{
    ViewBag.Title = "FindReplacement";
    Layout = "~/Views/Shared/_LayoutPlayerBio.cshtml";
}

<h2>Replacements</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>SabrMetric</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Model.ReplacementsList)
        {
                <tr>
                    <td>@Html.ActionLink(player.PlayerName, "PlayerBio", "Dashboard", new { name = player.PlayerName, position = player.PositionId}, null)</td>
                    <td>@player.SabrScore</td>
                </tr>
            

        }
    </tbody>
</table>

