@model Sabr.ViewModels.DashboardViewModels.LeagueViewModel
@{
    ViewBag.Title = "League";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>The League</h1>
<br><br>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>UNDERVALUATION</h1>
                </div>
                <div class="panel-footer">
                    <button onclick="location.href='@Url.Action("UndervaluedPlayers","Dashboard")'" class="btn btn-lg">FIND UNDERVALUED PLAYERS</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>POWER RANKINGS</h1>
                </div>
                <div class="panel-footer">
                    <button onclick="location.href='@Url.Action("PowerRankings","Dashboard")'" class="btn btn-lg">RANK ALL TEAMS</button>
                </div>
            </div>
        </div>
    </div>
</div>
<h3>Teams</h3>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Team</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var team in Model.TeamsList)
        {
            <tr>
                <td>@Html.ActionLink(team.TeamName, "TeamBio", "Dashboard", new { id = team.Id }, null)</td>
            </tr>
        }
    </tbody>
</table>