
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upload</h2>


    <section id="uploadForm">
        @using (Html.BeginForm("Index", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            ;
            @Html.ValidationSummary()
            ;

            <label class="text-info">Upload CSV File</label><br/>
            <input type="file" class="form-control" name="uploadfile" id="uploadfile" /><br/>
            <input type="submit" value="Submit" class="btn btn-success" />
        }

    </section>
<br/><br/>
    <p>
        <button onclick="location.href='@Url.Action("HistoricalUpload","Upload")'" class="btn btn-warning">Historical Upload?</button>
    </p>