
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Success</h2>
<br/>
<p>
    <button onclick="location.href='@Url.Action("Index","Upload")'" class="btn btn-default">Regular Season Upload?</button>&nbsp; ● &nbsp;
    <button onclick="location.href='@Url.Action("HistoricalUpload","Upload")'" class="btn btn-default">Historical Upload?</button>
</p>

